.block {
			background-color: #d66926;
			padding: 20px;
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
			font-size: 10px;
			text-align: venter;	
			margin: 20px;
			color: white;
			float: left;
			border-radius: 10px;
			text-shadow: 1px .1px #d66926;
			transition: all 0.2s ease-in-out;
		}
		
			
.rectangle-block {
			background-color: #d66926;
			border: 1px solid #333;
			border-radius: 5px;
			padding: 20px;
			margin: 20px;
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
			font-family: Arial, sans-serif;
			font-size: 16px;
			line-height: 1.5;
			text-align: justify;
			transition: all 0.4s ease-in-out;
			border-radius: 10px;
			transition: all 0.2s ease-in-out;
			text-shadow: 1px .1px #d66926;
		}
		
				
.rectangle-block:hover {
			transform: translate(10px, 10px);
			box-shadow: 2px 2px 5px #333;
		}
		
.block:hover {
			transform: translate(10px, 10px);
			box-shadow: 2px 2px 5px #333;
		}
@media (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) {
}