.block {
			background: linear-gradient(to bottom, #6c58f7, #352798);
			padding: 3px;
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
			font-size: 17px;
			text-align: center;	
			margin: 20px;
			color: white;
			float: left;
			border-radius: 15px;
			text-shadow: 1px .1px #d66926;
			transition: all 0.2s ease-in-out;
			width: 100px;
			
		}
		
			
		.rectangle-block {
			background: linear-gradient(to bottom, #6c58f7, #352798);
			border-radius: 5px;
			padding: 15px;
			margin: 20px;
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
			font-family: Arial, sans-serif;
			font-size: 18px;
			line-height: 1.6;
			text-align: justify;
			transition: all 0.4s ease-in-out;
			border-radius: 15px;
			width:500px;
		}
		
				
		.rectangle-block:hover {
			transform: translate(10px, 10px);
			box-shadow: 2px 2px 5px #333;
		}
		
		.block:hover {
			transform: translate(5px, 5px);
			box-shadow: 2px 2px 5px #333;
			
		}
		body {
			font-family: Helvetica, sans-serif;
			font-size: 10px;
			color: white;
			background-color: #111;
			display: block;
}
		
@media (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) {
}
body { background-image:url(https://images4.alphacoders.com/131/1311514.jpeg);
background-repeat: no-repeat;
background-size:cover;