ul {
  list-style-type: none;
  margin: 41px;
  padding: 15px;
  overflow: hidden;
  background-color: #4c3844;
  background: linear-gradient(to bottom, #720015, #d50733);
  border-radius: 15px;
}

li {
  float: left;
}

li a {
  background-color: #333;
  display: block;
  color: white;
  text-align: center;
  padding: 11px 10px;
  width: 80px;
  margin: 8px;
  text-decoration: none;
  border-radius: 15px;
}

li a:hover {
  			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
			width: 80px;
			margin: 2px;
			padding: 16px;
			text-align: center;
			transition: all 0.7s ease-in-out;
			border-radius: 15px;
			float: right;
}
			
.video-container{ 		
			margin:41px;
			padding: 15px;
						
}


.block:hover {
			transform: translate(10px, 10px);
			box-shadow: 2px 2px 5px #333;		
}

.block {
			background: linear-gradient(to bottom, #720015, #d50733);
			padding:15px;
			margin:41px;
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
			font-size: 16px;
			text-align: left;
			color: white;
			float:left;
			border-radius: 15px;
			transition: all 0.2s ease-in-out;
}

.fa-facebook {
			color: #fff;
			font-size: 24px;
			float:right;
			margin: 5px;
			padding: 3px;
}

.fa-youtube {
			color: #fff;
			font-size: 24px;
			float:right;
			margin: 5px;
			padding: 3px;
}

@media (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) {
}


body { background-image:url(https://images6.alphacoders.com/131/1311519.jpeg);
background-repeat: no-repeat;
background-size:cover;
}
body {
    font-family: Arial, sans-serif;
    font-size: 15px;
}