
		.login {
			background: linear-gradient(to bottom, #265c28, #9ff860);
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
			width: 350px;
			margin: 225px;
			padding: 25px;
			text-align: left;
			transition: all 0.2s ease-in-out;
			border-radius: 15px;
			float: center;
			
			
		}
		.login:hover {
			transform: scale(1.08);
			box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
		}
		.login input[type="text"],
		.login input[type="password"] {
			width: 82%;
			padding: 10px;
			margin: 11px 0;
			color: #333;
			border-radius: 5px;
			background-color: #fff;
		}
		.login input[type="submit"] {
			background-color: #3eb340;
			color: #fff;
			border: none;
			border-radius: 15px;
			padding: 12px;
			cursor: pointer;
		}
		.login input[type="reset"] {
			background-color: #3eb340;
			color: #fff;
			border: none;
			border-radius: 15px;
			padding: 12px;
			cursor: pointer;
		}
			.login input[type="checkbox"] {
			color: #fff;
			padding: 10px;
			float:left;
			width:25px:
			
		}
		.login input[type="submit"]:hover {
			background-color: purple;
			
		}
		.login input[type="reset"]:hover {
			background-color: purple;
			

		}		
body{ 
background-image:url(https://images3.alphacoders.com/131/1311517.jpeg);
background-repeat: no-repeat;
background-size:cover;
}
body {
    font-family: Arial, sans-serif;
    font-size: 15px;
	
}





