body {
			
		}
		.login {
			background: linear-gradient(to bottom, #f6ccd0, #f66282);
			box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
			width: 325px;
			margin: 225px;
			padding: 25px;
			text-align: left;
			transition: all 0.2s ease-in-out;
			border-radius: 15px;
			float: left;
			
			
		}
		.login:hover {
			transform: scale(1.08);
			box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
		}
		.login input[type="text"],
		.login input[type="password"] {
			width: 82%;
			padding: 10px;
			margin: 11px 0;
			color: #333;
			border-radius: 5px;
			background-color: #fff;
		}
		.login input[type="submit"] {
			background-color: #872757;
			color: #fff;
			border: none;
			border-radius: 15px;
			padding: 12px;
			cursor: pointer;
		}
		.login input[type="reset"] {
			background-color: #872757;
			color: #fff;
			border: none;
			border-radius: 15px;
			padding: 12px;
			cursor: pointer;
		}
		.login input[type="submit"]:hover {
			background-color: #c02696;
			
		}
		.login input[type="reset"]:hover {
			background-color: #c02696;
			
		}
@media (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) {
}
body { background-image:url(https://images4.alphacoders.com/131/1311518.jpeg);
background-repeat: no-repeat;
background-size:cover;
}
body {
    font-family: Arial, sans-serif;
    font-size: 15px;
	
}